
.claude/plan.md
.DS_Store
.env*.local
.pnp.js
.velite/
.vercel
.yarn/install-state.gz
*.pem
*.tsbuildinfo
*.webp
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
/scripts/convertImage/data/
/scripts/convertImage/dataEdited/
# debug
# dependencies
# local env files
# misc
# next.js
# production
# testing
# typescript
# velite
# vercel
content/drafts/
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
